body {
  font-family: sans-serif;
  margin: auto;
  max-width: 960px;
 
}

 .header {
   
   color: #ffffff;
background-color:#8FBC8F;
 height: 120px;
 width: 100%;
 
}
h2
{
background-color:#F4A460;
color:#ffffff;
text-align: center;
}
.h1{
  font-family: cursive;
  font-size: 40px;
}
nav{
  margin: 0 auto;
  top: 200px;
  background-color:#FFE4C4; 
  height:60px;
  text-align: center;
 
}
li{
  margin: 0 auto;
}
th {
  padding: 10px; 
  border: 1px solid #A9E2CC;
}
td {
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #A9E2CC;
}
tr:nth-child(1) {
background-color:#b1eb7bcb;
}
tr:nth-child(2n) {
    background: #afe9adb4; 
    }
  .country{
    background: #b1eb7bcb; 

  }
table 
{ 
    width: 50%; 
    border-spacing: 10;
   text-align: center;
    margin: auto;
}

form
{margin: 0 auto;}
footer
{
text-align:left;
background-color:#F4A460;
color: #ffffff;
width: 100%;
}
   
